@model IEnumerable<pfa_mvc5.Models.classes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_dep.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nom_classe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.groupe)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nom_classe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.groupe)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.nom_classe }) |
            @Html.ActionLink("Details", "Details", new { id=item.nom_classe }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.nom_classe })
        </td>
    </tr>
}

</table>
