@model pfa_mvc5.Models.planning

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout_dep.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>planning</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.classe.groupe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.classe.groupe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.semestre.matiere_nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.semestre.matiere_nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nom_planning)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom_planning)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.etat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.etat)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
