@model pfa_mvc5.Models.Disponibilité

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_dep.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Disponibilité</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.professeurs.prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.professeurs.prenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.end)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.end)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
